{% extends 'base.html' %}
{% block title %}Expenses{% endblock %}
{% block content %}
<form id="expense-form" method="post">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field (class_="form-control")}}
    </p>
    {% for error in field.errors %}
    {{error}}
    {% endfor %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">Add</button>
    <a href="/expense-form">
        <button class="btn btn-secondary" type="submit">Add & Another</button>
    </a>
    <a href="/home">
        <button class="btn btn-danger">Skip</button>
    </a>
</form>
{% endblock %}